<div ng-controller="mainController">
    <table class="table table-striped">
        <tr ng-repeat="Todos in TodoList">
            <td>{{Todos.TodoText}}</td>
            <td class="text-right">
                <button class="btn btn-danger">X</button>
            </td>
        </tr>


    </table>
    <input type="text" required />
    <a href="#" class="btn btn-primary">Add</a>


</div>