<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add xdt:Transform="SetAttributes"
         xdt:Locator="Match(name)"
         name="TodoEntities"
         connectionString="Server=188b488b-7763-474a-a7d4-a5f100ad01c0.sqlserver.sequelizer.com;Database=db188b488b7763474aa7d4a5f100ad01c0;User ID=magoykbpdgavecql;Password=at4p43TXvEfJt5jiYMVV2sWjpggrNqydZu6vfYrJqynAtzqneZ8DsZGPDTaVUAje;" />
  </connectionStrings>
  <!-- Web.Config Configuration File -->
   <system.web>
        <customErrors mode="Off"/>
    </system.web>
 <system.web>
        <customErrors mode="RemoteOnly" defaultRedirect="/Views/Home/Index.cshtml"/>
    </system.web>
</configuration>
