<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="TodoEntities" connectionString="metadata=res://*/Models.Todo.csdl|res://*/Models.Todo.ssdl|res://*/Models.Todo.msl;provider=MySql.Data.MySqlClient; provider connection string=&quot;server=1dc01d47-e5fb-4c00-8760-a5ef0177c06d.mysql.sequelizer.com;database=db1dc01d47e5fb4c008760a5ef0177c06d;uid=gurgbtzifnabqsuf;pwd=6THAhhweJPGN4MuLpT8fjJefBTXiQhN5yAzaRxThzJNwmpzGkvV2TQduNC7wrowA&quot; " providerName="System.Data.EntityClient" />
  </connectionStrings>
  <!-- Web.Config Configuration File -->
   <system.web>
        <customErrors mode="Off"/>
    </system.web>
 <system.web>
        <customErrors mode="RemoteOnly" defaultRedirect="/Views/Home/Index.cshtml"/>
    </system.web>
</configuration>
