<div ng-controller="mainController">
    <button class="btn btn-danger" ng-click="goToTodoList('TodoList')">X</button> 
    <h1>Add Todo</h1>
    <label>TodoText</label>
    <br />
    <br />
    <input type="text" value="Task Name" required ng-model="newTodoText" />

    <br />
    <br />
    <label>TodoNote</label>
    <br />

    <textarea cols="50" rows="10" required ng-model="newTodoNote"></textarea>
    <br />
    <br />
    <select name="singleSelect" id="singleSelect" ng-model="newTodoCategoryId">
       
        <option ng-repeat="Category in CategoryList"  value="{{Category.CategoryId}}">{{Category.CategoryName}}</option>
    </select>
        <br />
        <br />

        <a href="" class="btn btn-primary" ng-click="addTodo(); goToTodoList('TodoList')">Add</a>

</div>